a:link    {
	text-decoration:  none;
  	color: #fff;
} 
a:visited {
  	text-decoration:  none;
  	color: #fff;
} 
a:hover   {
  	text-decoration:  underline;
  	color: #fff;
} 
a:active  {
  	text-decoration:  underline;
  	color: #fff;
} 